.terms_conditions{
    .section__text{
        max-height: 650px;
        overflow-y: scroll;
        &::-webkit-scrollbar
        {
          width: 13px !important;
          background-color: #2d34404d;
          border-radius: 30px;
        }
        
        &::-webkit-scrollbar-thumb
        {
            
          background-color: white;
          border-radius: 30px;
          border:3px solid #2d34404d;

        }
        &::-webkit-scrollbar-track-piece{
            margin: 5px 0;
        }
    }
    hr{
      background-color: #2D3440;
      height: 3px;

    }
}
.payment_policy{
  hr{
    background-color: #2D3440;
    height: 3px;

  }
  .section__text{
    text-align: left;
  }
}
.private_policy{
  .hero{
    margin-bottom:15rem;
  }
  .gradient{
    display: block;
    position: absolute;
    width: 100%;
    height: 105%;
    background: linear-gradient(#d74e62, transparent), linear-gradient(to top right, #009fff7a, transparent), linear-gradient(to bottom right, #e1eec3, transparent);
    background-blend-mode: screen;
    clip-path: polygon(100% 0, 100% 30%, 75% 100%, 0 15%, 0 0);
  }
  .banner{
    
    position: absolute;
    transform: rotate(-90deg);
    z-index: 2;
    top: 45%;
    color: #EF424C;
    font-size: 100px;
    .banner_icon img{
      margin-right:3rem;
      transform: rotate(90deg);
    }
    .banner_text{
      font-size: 100px;
      font-weight: 900;
      opacity: .2;

    }
  }
  .bg-image__image{
    background-size:contain!important;
    background-position:bottom;
    max-width:900px;
    margin: auto auto auto 30%;
  }
  .section__text{
    text-align: left;
  }
}