//MAX WIDTH 1000px-----------
@media(max-width:1000px){
    .home{
        .section:last-child{
            padding-bottom: 0;
        }
    }
    .section--footer-banner{
        margin-bottom:2rem!important;
        background-color: white;
        .section-wrap{
            h1{
                width:50%;
                margin-top:5rem;
                line-height: 44spx;
            }
        }
    }
    .site-footer{
        padding-top:10rem;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }
    footer{
        .flex--col-5{
            .cell:last-child{
                margin-top:1.5rem;
            }
        }
        .logo{
            max-width: 75%;
            margin-bottom:2rem;
        }
        .container{
            padding:0;
        }
        
    }
}

//MAX WIDTH 800px-------------------
@include media-breakpoint-down(md){
//Header----------------

.site-header{
    .btn--clear{
    background: rgba(255, 255, 255, 0.7);
    border: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    }
    .navbar__menu-btn {
        background:none;
        border:none;
    }
    .navbar__menu{background: radial-gradient(circle at 100%, #009fff, #d74e62, #e1eec3);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 15s ease infinite;
        -moz-animation: AnimationName 15s ease infinite;
        animation: AnimationName 15s ease infinite;}
    .menu{
        .navbar__item{
            border-bottom:1px dotted;
            border-top: unset;
            .dropdown{
                background-color:unset;
                box-shadow: none!important;
                position: relative;
                flex-direction: column;
                width:100%;
                li{
                    border:none;
                }
            }
        }
        a:not(.btn),.lang button{
            color:white;
            background-image: unset!important;
            background-clip:unset;
            -webkit-background-clip: unset!important;
            -webkit-text-fill-color: unset!important;
            text-align:left;
            padding-left:0;
        }
        .navbar__item .btn{
            background: #2D3440;

        }
       .arrow_wrap {
            color: #2D3440;
        }
        .has__dropdown{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: baseline;
        }
        .lang{
            border-bottom: 1px dotted ;
        }
    }
}
// .js-nav-open{
//     .header-alt{
//         height:100%;
//     }
// }
.header-alt{
    transform: none!important;
    .navbar__menu{
        height: 100%;
    }
    .navbar__scroller{
        overflow:visible!important;
    }
}
.header-alt.site-header-alt-hidden{
    top:-160px;
}
 
//Home------------------
.home{
    .hero{
        .section__copy{
            p{
                color:white;
            }
        }
        .flex{
            .cell:nth-child(1){
                order:2;
                .key-img{
                    max-width:120px;
                    margin-right: -1.5rem;
                }
               
            }
            .cell:nth-child(2){
                order:1;
                .section__title{
                    font-size:60px;
                    line-height: 60px;
                }
            }
        }
    }

    .section--what-matters{
        .wm-wrapper{
            flex-wrap: wrap;
        }
        .logo-sub{
            left:25%;
        }
        .ms-wrap-r{
            .r-1{
                order:2;
                flex-wrap:wrap;
                .r-icon{
                    margin-bottom:2rem ;
                }
            }
            .r-2{
                order:1;
                flex-wrap: wrap;
                .r-icon{
                    margin-bottom:1rem;
                }
            }
        }
        .divider{
            margin-top:2rem;
        }
    }

    .section--boxes{
        .boxes{
            padding: 0 2rem;
        }
    }
    .section--footer-banner{
        .b-icon{
            margin-top:-6rem;
        }
    }
}
//about
.about{
    h1{
        font-size:60px;
        line-height:60px;
    }
    .section--about {

    .w1{
        padding: 2rem;
    }
}
    .content{
        .cell.cell:nth-child(2){
            margin-top: 12rem;
            h1{
                line-height: 85px;
                font-size:80px;
            }
        }
    }
    .section--footer-image{
        .img-wrap{
            background: url('/images/mobile_footer_aboutus.jpg')!important;
        }
    }
    
    .bg-image__image{
        background-image: url('/images/mobile_hero_aboutus.jpg')!important;
    }
}
.about .hero .flex--col-2 {
    padding-top: 0!important;
.cell{
    flex: 0 0 50%!important;
    h1{
        font-size: 40px;
        line-height: 50px;
        br{
            display: none;
        }
    }
    p{
        font-size: 16px;
        line-height: 26px;
    }
}
}
.about .content .cell:nth-child(2) h2:nth-child(3), .about .content .cell:nth-child(2) .h2:nth-child(3){
    margin-top:0.8rem;
}
//sizes-prices

.sizes_prices{

    .section__title{
        h1{
            font-size:60px;
            line-height: 60px;
        }
    }
    .bg-image__image{
        background-image: url('/images/mobile_hero_sizes&prices.jpg')!important;
    }
    .section--footer-image .img-wrap{
        background: url('/images/mobile_footer_sizes&prices.jpg')!important;
    
    }
}
.sizes_prices .hero .flex--col-2 {
    padding-top: 0!important;
.cell{
    flex: 0 0 50%!important;
    h1{
        font-size: 40px;
        line-height: 50px;
        br{
            display: none;
        }
    }
    p{
        font-size: 16px;
        line-height: 26px;
    }
}

}
.sizes_prices .section--cta a{
    font-size:23px;
    line-height: 30px;
    text-align: left;
}
//insurance


.insurance{

    .section__copy{
        background-size:40%;
        margin-top:0!important;
        background-position: 95% 5%;
        img{
            margin-top:6rem;
        }
    }
    .cell {
        padding-top:3rem;
        .title{
            margin-top:0rem;
            font-size:60px;
        }
    }
    .s{
        .s-text{
            width:100%!important;
        }
    }
    .w-sec{
        margin-top:0rem;
        .container{
            margin-top:0rem;
            .flex{
                margin-top:4rem;
            }
        }
        .sec_img{
            margin-top:0!important;
        }
        &:before{
            height:30%!important;
        }
        .sec_text{
            max-width:90%!important;
        }
    }
    .flex.ft{
        h3{
            font-size:22px!important;
            padding-top: 2rem;
        }
        .primary,span{
            font-size: 25px;
            line-height: 30px;;
        }
    }
    
    .section--footer-image .cell {
        padding-bottom:10rem!important;
    .img-wrap{
        background:url('/images/mobile_footer_security.jpg')!important;
        background-repeat: no-repeat!important;
    }
}
}
.insurance .section__copy:before{
    margin-top:100px;
}

//faq
.faq{

    .wrap{
        padding-bottom:5.75rem;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 95%);
        .cell{
            .title{
                width:90%;
                max-width: 90%;
            }
        }
    }
    
}
 //Terms & Conditions 
 .terms_conditions{

  .section__text{
     text-align: left!important;
     p{
         text-align: left!important;
     }
 }
 .bg-image__image{
    background-image: url('/images/mobile_hero_sizes&politikes_1.jpg')!important;
}
}

//private policy
.private_policy{
    .banner {
        font-size: 80px;
        line-height: 80px;
        font-weight: 900;
        transform: none!important;
        -webkit-transform: none!important;
        top:105%;
        padding:5px;
        .banner_icon{
            img{
                transform: none!important;
                -webkit-transform: none!important;
            width:40px;            }
        }
        .banner_text{
            font-size: 80px!important;
            line-height: 80px!important;
        }
    }
    .section--cta{
        .container{
            margin-top:5rem;
            padding-top:1rem;
            
        }
    }
    .bg-image__image{
        background-image: url('/images/mobile_hero_sizes&politikes_3.jpg')!important;
    }
}
//payment policy
.payment_policy{
    .bg-image__image{
        background-image: url('/images/mobile_hero_sizes&politikes_2.jpg')!important;
    }
}
//apply
.apply{
    .doc{
        font-size:14px;
        line-height: 18px;
    }

     .section_divider {
         h3{
             width:100%;
             text-align: center;
         }
         hr{
         width:200px;
     }
    }
}
.apply .list ul li a{
    margin-left:1rem;
}
//Contact

.contact{
    .info-list{
        padding:3rem;
    }
    .bg-image__image{
        background-image: url('/images/mobile_hero_contact.jpg')!important;
    }
}
.section--footer-image{
    .cell{
        padding:20px!important;
        .img-wrap{
            background-size: contain!important;
            background-repeat: no-repeat!important;
            padding-bottom: 8rem!important;
        }
    }

}
//End of breakpoint
}


//Tabs mobile
@media(min-width:951px){
    .section--tabs{
        display:none;
    }
    .pricing{
        display: block;
    }
}
@media(max-width:950px){
.section--tabs{
    display: block;
}
.pricing{
    display: none;
}
}
section.section.section--tabs{
    padding:0 1rem;
    text-align:center;
.react-tabs__tab-panel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    .content{
        p{
        font-weight: 900;
        }
    }
    h3{
        background: #ef424c;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.react-tabs__tab--selected {
    border-color: transparent!important;
    border-radius: 5px;
    background: #ef424c;
    color:white;
}
.deposit{
    background-color: #2d3440;
    color: #fff;
    padding:1rem 2rem;
}



}