/**
 * Site Header
 */
.site-header {
  background: transparent;;
  border-bottom: transparent;
  position:fixed;
  width: 100%;
  padding-bottom: 1.125rem;
  padding-top: 1.125rem;
  z-index: 99999;
  top: 0px;
  transition: all 0.4s ease-in-out;
  .btn{
    background: rgba(255, 255, 255, 0.7);
    border:rgba(255, 255, 255, 0.7);
  }
}
.sticky-header{
  background: white;
  height:70px;
  
}
 
.site-header-hidden{
  top: -150px;
}

.site-header-bg{
  background: #fff!important;
  .btn{
    background:#2D3440;
  }
}

.logo-hidden{
  display:none;
}
.logo-sticky{
  display:  none;
}
.logo-sticky-visible{
  display: block;
}
.navbar {
  align-items: center;
  display: flex;
  .navbar__item{
  &:hover{
    svg{
      padding-left:0.4rem;
    }
  }
  }
  .dropdown{
    text-align: left!important;
  }
}

.navbar__logo,
.navbar__title {
  flex: 0 1 auto;
  margin: 0 1.25rem 0 0;
  text-decoration: none;
}

.navbar__logo {
  img {
    max-height: 77px;
  }
}

.navbar__menu {
  margin-left: auto;
}

.navbar__item {
  font-size: 0.875em;
}
.lang{
  cursor: pointer;
  button{
    background-color: transparent;
    border:none;
  }
}
@include media-breakpoint-up(md) {
  .js-nav-toggle {
    display: none;
  }

  .navbar__list {
    align-items: center;
    display: flex;
  }

  .navbar__item {
    margin-left: 1.25rem;
  }

  .js-menu-toggle {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    &:after {
      // background: $color-bg-overlay;
      content: "";
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .25s, visibility 0s .25s;
      visibility: hidden;
      width: 100%;
      backdrop-filter: blur(3px);
    }
  }

  .navbar__menu-btn,
  .navbar__close-btn {
    margin-left: auto;
  }

  .navbar__menu {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $color-bg;
    bottom: 0;
    right: -100%;
    max-width: $width-xs;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    transition: right .3s cubic-bezier(.65,.05,.36,1), visibility 0s .3s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }

  .navbar__scroller {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  .navbar__inner {
    padding: 1.125rem 1.5rem;
  }

  .navbar__close-btn {
    position: absolute;
    right: 1.5rem;
    top: 1.125rem;
  }

  .navbar__list {
    margin-top: 3rem;
  }

  .navbar__item {
    border-top: 1px solid $color-border;

    &:not(.navbar__item--btn):last-child {
      border-bottom: 1px solid $color-border;
    }

    a {
      &:not(.btn) {
        display: block;
        padding: 0.75rem 0;
      }
    }

    .btn {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      width: 100%;
    }
  }

  .navbar__item--btn {
    padding: 1.125rem 0;

    & + & {
      border-top: 0;
      padding-top: 0;
    }

  }

  .js-nav-open {
    overflow: hidden;

    .navbar {
      &:after {
        opacity: 1;
        transition: opacity .25s;
        visibility: visible;
        z-index: 998;
      }
    }

    .navbar__menu {
      right: 0;
      transition: right .3s ease;
      visibility: visible;
    }
  }
}
#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255,255,255,0.05);
  width: 100%;
  top: 0;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0,0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 10px;
}
.header-alt{
  background:white;
  position:fixed;
  top:0px;
  a:not(.btn){
    border: 0;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #EF424C, #EF424C 49%, #2D3440 50%);
    background-size: 200% 100%;
    background-position: 100%;
  }
  .lang button{
    border: 0;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #EF424C, #EF424C 49%, #2D3440 50%);
    background-size: 200% 100%;
    background-position: 100%;
  }
  .btn{
    background:#2D3440;
  }
  .arrow_wrap{
    margin-left:5px;
    display: inline-flex;
  
  }

  .sub-icon{
    transform: translateY(4px);
    font-weight: 100;
    font-size: 16px;
    color:#2D3440;
    transition: all .2s ease-in-out;
  }
}
.header-alt.site-header-alt-hidden {
  transform: translateY(-160px);
}
.header-alt.site-header-alt-visible {
  transform: translateY(0px);
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
.navbar__item{
  .SiteHeaderArrow{
    box-sizing: border-box;
    display: none ;
    position: absolute;
    top: 4rem;
    margin: 0 0 0 30px;
    width: 12px;
    height: 12px;
    transform: translateY(12px) translateX(-15.9063px) translateX(50%) rotate(45deg);
    border-radius: 3px 0 0 0;
    background-color: white;
    box-shadow: -3px -3px 5px #525f7f0a;
    transition-property: transform;
    transition-duration: 250ms;
    z-index: 2;
  }
 
 .dropdown  {
    background-color: white;
    border-radius:5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    text-align: center;
    display: none;
    margin-top:0.5rem;
    &:hover{
      display:block;
    }
    li{
      margin:1rem 0;
    }
    a{
      border: 0;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #EF424C, #EF424C 49%, #2D3440 50%);
    background-size: 200% 100%;
    background-position: 100%;
    
    }
  }
  &:hover, &:focus-within {
    .dropdown,.SiteHeaderArrow{
      display: block;
    }
    .sub-icon{
      opacity: 0;
    }
  }
}
.has__dropdown:before {
  content: '';
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  &:hover{
    .dropdown{
      display: block!important;
    }
  }
}
.arrow_wrap{
  margin-left:5px;
  display: inline-flex;

}
.sub-icon{
  transform: translateY(4px);
  font-weight: 100;
  font-size: 16px;
  transition: all .2s ease-in-out;
}