/**
 * Content Sections
 */
.section {
  margin-bottom: 3.75rem;
  
  &:first-child {
    margin-top: 7.563rem;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 3.75em;
  }

  .container + .container {
    margin-top: 2.25rem;
  }
}
.ms{
  margin-top:6.25rem;
}
.bg-blue,
.bg-gray,
.has-bg {
  padding-bottom: 3.75em;
  padding-top: 3.75em;
}

.bg-blue {
  background-color: $color-inverse-bg;
}
.bg-white{
  background-color: $color-bg;
}
.bg-gray {
  background-color: $color-bg-alt;
}
.primary{
  color:$color-link;
}
.section__media,
.section__body {
  position: relative;
}

.section__actions {
  a {
    &:not(.btn) {
      font-weight: 700;
    }
  }
}

.hero,
.section--features {
  .cell {
    max-width: $width-md;

    &:only-child {
      flex: 0 0 100%;
    }
  }
}
.section--how-works {
  background-color:#2d34401a;
  padding:2.5rem 0 ;
  .cell {
    max-width: $width-md;

    &:only-child {
      flex: 0 0 100%;
    }
  }
  .title{
    display: inline-flex;
    margin:2.25rem 0 1.125rem;
  }
  .title_logo{
    margin-right:1rem;
  }
  .section__title{
    margin:0;
  }


}

.hero {
  &:first-child {
    &:not(.section--padding) {
      margin-bottom: 2.25rem;
      padding-bottom: 0;
    }
  }
}

.section--features {
  .flex {
    margin-bottom: 3.75rem;
  }
}

.section--team,
.section--posts {
  .cell {
    margin-bottom: 1.5rem;
    max-width: $width-sm;
  }
}

.section--team {
  .card__media {
    margin-top: auto;
    padding-top: 100%;
    position: relative;
  
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.section--cta {
  .bg-blue,
  .bg-gray {
    border-radius: 3px;
  }
}

@include media-breakpoint-up(md) {
  .section__media {
    &--right {
      order: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .section__media {
    margin-bottom: 1.5rem;
  }

  .section--team,
  .section--posts {
    .flex {
      justify-content: center;
    }
  }
}

.bg-gradient{
  background: radial-gradient(circle at 100%, #009fff, #d74e62, #e1eec3);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
  position: absolute;
    bottom: 0;
    top: -35%;
    left: 0;
    width: calc(100vw-15px);
    min-width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: skewY((-12deg));
    overflow: hidden;
    border: none;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 43%}
  50%{background-position:100% 58%}
  100%{background-position:0% 43%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 43%}
  50%{background-position:100% 58%}
  100%{background-position:0% 43%}
}
@keyframes AnimationName {
  0%{background-position:0% 43%}
  50%{background-position:100% 58%}
  100%{background-position:0% 43%}
}

.bg-gradient:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: inherit;
  backdrop-filter: blur(5px);
}

.hero{
  .section__title{
    color: #2D3440;
    font-size:80px;
    font-weight: 800;
    line-height: 90px;
  }
  .section__copy{
    color: #2D3440;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }
  .hero-images{
    display:flex;
  }
  .phone-img{
    z-index:2;
  }
  .key-wrap{
    align-content: flex-end;
    position: absolute;
    bottom: 20%;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    z-index: 1;
    .wrap-cont{
      width: inherit;
      text-align: right;
      padding: 30px;
      background: #2D3440;
    }
    .key-img{
      margin-right:1.5rem;
    max-width:200px;
    
  }
}
}
.section--what-matters{
  padding:3.47rem 0 ;
  .wm-wrapper{
    flex-wrap:nowrap;
    gap:0.9rem;
  }
  .ms-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  .section__copy{
    margin:2.5rem 0;
  }
  .logo-wrap,.logo-sub{
    display: inline-flex;
    
  }
  .logo-sub {
    position:absolute;
    left: 90%;
    width:100%;
    h3{
    color:#EF424C;
    margin-bottom:0;
    }
  }
  .ms-wrap-r{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    .r-1{
      display: inline-flex;
      align-items: flex-end;
      .r-icon{
        margin:0 1.25rem;
        border: 1px solid #EF424C;
        padding:1.25rem;
        height: 3.3rem;
        width: 3.3rem;
      }

    }
    .r-2{
      display: inline-flex;
      align-items: flex-end;
      margin-top:1.25rem;
      .r-icon{
        margin:0 1.25rem;
        border: 1px solid #EF424C;
        padding:1.25rem;
        height: 3.3rem;
        width: 3.3rem;

            }
      }
  }
  .divider{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: -1.65rem;
    hr{
      width:65%;
      height:15px;
      }
  }

  .ins-wrap{
    margin-top:5.625rem; 
    .cell:nth-child(2){
      align-self: center;
    }
    .text-big p{
      display: inline-block;
      font-size: 120px;
      font-family: "neuealtegrotesk-heavy";
      font-weight: 900;
      line-height: 100px;
      margin-bottom:0;
      color: #EF424C;
      opacity: 0.2;
    }
    .text-sub p {
      margin-top: 1.875rem;
      padding-left: 3.75rem;
    }
  }
}
.section--boxes{
  .bx-wrap{
    align-content: center;
    flex-direction: column;
    .title{
      text-align: center;
    }
    .b-i-wrap{
      margin: 1.875rem 0;
      text-align: center;
    }
    .text-sub{
      text-align: center;
    }
    .boxes{
      margin-top:3.75rem;
      align-items: stretch;
      gap:30px;
      justify-content: space-evenly;
      .cell{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        border: 1px solid;
        flex-wrap: wrap;
        padding:10px;
        flex:0 0 20%;
        .b-icon{
          margin-top: 20px;
          margin-bottom: 30px;
        }
        .bx-divider{
          background-color: #EF424C;
          height: 2px;
        }
        .bx-text{
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .btn-group{
        margin-top:1.875rem;
      }
    }
  }
}
.section--footer-banner{
  background-color: #2d34401a;
  margin-top:20vh;
  margin-bottom: -35vh!important;
  z-index: 999;
  .title{
    padding: 0 30px;
  }
  .b-icon{
    margin-top: -10%;
  }
}
.section--footer-banner:before{
    content: '';
    position: absolute;
    display: block;
    bottom: 10vh;
    left: 0;
    width: 105%;
    height: 55vh;
    background: linear-gradient(to right, #d68994, #ffdde1);
    z-index: -1;
    transform: rotate(350deg);
}
.hero{
  min-height:780px;
}
.section--footer-image{
  .img-wrap{
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}